/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&display=swap");

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background-color: var(--off-white);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 320px;
  height: 295px;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 151px;
  height: 24px;
  margin-top: 39px;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 464px;
  min-height: 218px;
  margin-top: 33px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  margin-top: 32px;
  display: flex;
  column-gap: 14px;
  align-items: center;
  padding: 15px;
  width: auto;
  align-self: center;
  background-color: var(--off-white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: var(--warm-black);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}
.header--button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  background-image: url("../assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 59px;
  padding-bottom: 64px;
  text-align: center;
}
.main-exchange-container .background-img {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  background: url("../assets/imgs/bitcoin.svg") center/cover no-repeat;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 466px;
  margin: 40px auto 0;
}
.main-exchange-container h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main-exchange-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.main-tables-container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 0 27%;
  column-gap: 10px;
}
.main-currency-table,
.main-commission-table {
  scroll-snap-align: center;
  width: 70%;
  min-width: 197px;
  max-width: 252px;
  height: auto;
  margin-bottom: 10px;
  /* margin: 0 auto; */
}
.main-currency-table .currency-table--title,
.main-commission-table .commission-table--title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  margin: 48px 24px 0;
  text-align: left;
}
.main-currency-table .currency-table--title {
  color: #ff9536;
}
.main-commission-table .commission-table--title {
  color: var(--secondary-blue);
}
.currency-table--container,
.commission-table--container {
  font-family: "Inter", sans-serif;
  width: 90%;
  min-width: 197px;
  max-width: 300px;
  height: 159px;
  margin: 12px auto 0;
}
.currency-table--container table,
.commission-table--container table {
  width: 100%;
  height: 100%;
}
.currency-table--container td,
.commission-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #b5b0ac;
  background-color: var(--just-white);
  padding: 10px 12px;
  text-align: left;
}
.currency-table--container .table__top-left,
.commission-table--container .table__top-left {
  border-radius: 8px 0 0 0;
}
.currency-table--container .table__top-right,
.commission-table--container .table__top-right {
  border-radius: 0 8px 0 0;
}
.currency-table--container .table__bottom-left,
.commission-table--container .table__bottom-left {
  border-radius: 0 0 0 8px;
}
.currency-table--container .table__bottom-right,
.commission-table--container .table__bottom-right {
  border-radius: 0 0 8px 0;
}
.currency-table--container .table__right,
.commission-table--container .table__right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: #757575;
  text-align: center;
}
.currency-table--container .down,
.commission-table--container .down {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url("../assets/icons/trending-down.svg") center/cover no-repeat;
}
.currency-table--container .up,
.commission-table--container .up {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url("../assets/icons/trending-up.svg") center/cover no-repeat;
}
.currency-table--date,
.commission-table--date {
  width: 173px;
  height: 31px;
  margin: 16px auto 0;
  padding: 8px;
  border-radius: 8px;
}
.currency-table--date {
  background-color: var(--soft-orange);
}
.commission-table--date {
  background-color: var(--soft-blue);
}
.currency-table--date p,
.commission-table--date p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--warm-black-1);
}

.main-product-detail {
  position: relative;
  width: 100%;
  height: auto;
  padding: 64px 16px 47px;
  text-align: center;
  background-color: var(--warm-black);
}
.product-detail--batata-logo {
  position: absolute;
  top: -12px;
  left: calc(50% - 20px);
  width: 40px;
  height: 24px;
  background: url("../assets/icons/batata.svg") center/cover no-repeat;
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}
.product-detail--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail--title p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-cards--container {
  margin-top: 32px;
  display: grid;
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
}
.product-detail--card {
  width: 100%;
  min-width: 288px;
  max-width: 345px;
  height: 152px;
  padding: 14px 16px;
  background-color: var(--warm-black-1);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}
.product--card-logo {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.clock {
  background: url("../assets/icons/clock.svg") center/cover no-repeat;
}
.eye {
  background: url("../assets/icons/eye.svg") center/cover no-repeat;
}
.dollar-sign {
  background: url("../assets/icons/dollar-sign.svg") center/cover no-repeat;
}
.check-circle {
  background: url("../assets/icons/check-circle.svg") center/cover no-repeat;
}
.product--card-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
  text-align: left;
}

.bitcoin-img-container {
  width: 100%;
  height: 50vh;
  background: url("../assets/imgs/bitcoinbaby2x.jpg") center/100% no-repeat;
  text-align: center;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding: 64px 0;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}
.plans--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.plans--title p {
  padding-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.plans-container--slider {
  display: flex;
  align-items: center;
  column-gap: 18px;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 0 32px;
}
.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 60%;
  min-width: 190px;
  max-width: 223px;
  height: fit-content;
  margin: 50px 0 20px;
  padding: 31px 20px 24px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
.plans-container--card .recommended {
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 8px;
  top: -15px;
  left: calc(50% - 50px);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}
.plan-card--title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.plan-card--price {
  position: relative;
  margin: 8px auto 0;
  font-family: "Inter", sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.3rem;
  letter-spacing: -0.08em;
  color: var(--grey);
  width: min-content;
}
.plan-card--price span {
  position: absolute;
  left: -20%;
  top: 8.2px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.price--recommended {
  color: black;
}
.price--recommended span {
  color: #363636;
}
.plan-card--saving {
  margin-top: 11px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #757575;
}
.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 16px;
  background-color: var(--just-white);
  border: 2px solid var(--grey);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--grey);
}
.plan-card--ca span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  background: url("../assets/icons/arrow-right.svg") center/cover no-repeat;
  vertical-align: middle;
}
.ca--recommended {
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  color: var(--warm-black);
}
.ca--recommended span {
  filter: brightness(0) saturate(100%) invert(61%) sepia(51%) saturate(1329%)
    hue-rotate(348deg) brightness(99%) contrast(95%);
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  height: 150px;
  padding: 40px 20%;
  background-color: var(--bitcoin-orange);
}
.footer-left {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-left li {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.footer-left a {
  text-decoration: none;
  color: var(--just-white);
}
.footer-right {
  width: 63px;
  height: 50px;
  align-self: center;
}
