@media (min-width: 768px) {
  .product-cards--container {
    grid-template-columns: repeat(2, auto);
  }
  .plans-container--slider {
    justify-content: center;
    overflow-x: hidden;
  }
}
@media (min-width: 425px) {
  .main-tables-container {
    justify-content: center;
    padding: 0 0;
    overflow-x: hidden;
  }
}
